---
- name: Check if awscli {{ awscli_version }} already installed
  stat:
    path: /opt/awscli-{{ awscli_version }}/awscli
  register: awscli_directory
  tags: awscli
- name: Download awscli {{ awscli_version }}
  get_url:
    url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64-{{ awscli_version }}.zip
    checksum: "sha256:{{ awscli_sha256 }}"
    dest: /tmp/awscli-{{ awscli_version }}.zip
  when: not awscli_directory.stat.exists
  tags: awscli
- name: Create awscli {{ awscli_version }} directory
  file:
    path: /opt/awscli-{{ awscli_version }}
    state: directory
  tags: awscli
- name: Unarchive awscli {{ awscli_version }}
  unarchive:
    src: /tmp/awscli-{{ awscli_version }}.zip
    dest: /opt/awscli-{{ awscli_version }}
    remote_src: yes
  when: not awscli_directory.stat.exists
  tags: awscli
- name: Symlink default awscli version to awscli {{ awscli_version }}
  file:
    src: awscli-{{ awscli_version }}
    dest: /opt/awscli
    state: link
  tags: awscli
- name: Symlink awscli binary
  file:
    src: /opt/awscli/aws/dist/aws
    dest: /usr/local/bin/aws
    state: link
  tags: awscli
- name: Setup awscli bash completion
  lineinfile:
    create: yes
    path: /etc/bash_completion.d/aws_completer
    regexp: '^complete -C "/opt/awscli/.*/aws_completer" aws$'
    line: complete -C "/opt/awscli/aws/dist/aws_completer" aws
- name: Download session-manager-plugin {{ awscli_session_manager_plugin_version }}
  get_url:
    url: https://s3.amazonaws.com/session-manager-downloads/plugin/{{ awscli_session_manager_plugin_version }}/ubuntu_64bit/session-manager-plugin.deb
    checksum: "sha256:{{ awscli_session_manager_plugin_sha256 }}"
    dest: /tmp/session-manager-plugin.deb
- name: Install session-manager-plugin {{ awscli_session_manager_plugin_version }}
  apt:
    deb: /tmp/session-manager-plugin.deb
    # allow for downgrade to avoid possible conflicts in GitHub Actions
    force: yes
- name: Add dockstats alias
  lineinfile:
    path: ~/.bashrc
    regexp: '^alias whereami='
    line: "{% raw %}alias whereami='echo -n $(aws iam list-account-aliases --query \"AccountAliases\" --output text) \"=> \" && aws sts get-caller-identity --query \"Account\" --output text'{% endraw %}" # noqa 204
  become: no
- name: Check if aws-vault {{ aws_vault_version }} already installed
  stat:
    path: /opt/aws-vault-{{ aws_vault_version }}/aws-vault
  register: aws_vault_directory
  tags: aws_vault
- name: Create aws-vault {{ aws_vault_version }} directory
  file:
    path: /opt/aws-vault-{{ aws_vault_version }}
    state: directory
  tags: aws_vault
- name: Download aws_vault {{ aws_vault_version }}
  get_url:
    url: https://github.com/99designs/aws-vault/releases/download/v{{ aws_vault_version }}/aws-vault-linux-amd64
    checksum: sha256:{{ aws_vault_sha256 }}
    dest: /opt/aws-vault-{{ aws_vault_version }}/aws-vault
    mode: "755"
  when: not aws_vault_directory.stat.exists
  tags: aws_vault
- name: Symlink default aws-vault version to aws-vault {{ aws_vault_version }}
  file:
    src: aws-vault-{{ aws_vault_version }}
    dest: /opt/aws-vault
    state: link
  tags: aws_vault
- name: Symlink aws-vault binary
  file:
    src: "/opt/aws-vault/aws-vault"
    dest: "/usr/local/bin/aws-vault"
    state: link
  tags: aws_vault
- name: Set assume role TTL for aws-vault to {{ aws_vault_assume_role_ttl }}
  lineinfile:
    path: ~/.bashrc
    regexp: '^export AWS_ASSUME_ROLE_TTL='
    line: export AWS_ASSUME_ROLE_TTL={{ aws_vault_assume_role_ttl }}
  become: no
  tags: aws_vault
- name: Setup awscli bash completion for aws-vault
  lineinfile:
    path: /etc/bash_completion.d/aws_completer
    regexp: '^complete -C "/opt/awscli/aws/dist/aws_completer" aws-vault$'
    line: complete -C "/opt/awscli/aws/dist/aws_completer" aws-vault
- name: Check if saml2aws {{ saml2aws_version }} already installed
  stat:
    path: /opt/saml2aws-{{ saml2aws_version }}/saml2aws
  register: saml2aws_directory
  tags: saml2aws
- name: Create saml2aws {{ saml2aws_version }} directory
  file:
    path: /opt/saml2aws-{{ saml2aws_version }}
    state: directory
  tags: saml2aws
- name: Download saml2aws {{ saml2aws_version }}
  get_url:
    url: https://github.com/Versent/saml2aws/releases/download/v{{ saml2aws_version }}/saml2aws_{{ saml2aws_version }}_linux_amd64.tar.gz
    checksum: sha512:{{ saml2aws_sha512 }}
    dest: /tmp/saml2aws-{{ saml2aws_version }}.tar.gz
    mode: "755"
  when: not saml2aws_directory.stat.exists
  tags: saml2aws
- name: Create saml2aws {{ saml2aws_version }} directory
  file:
    path: /opt/saml2aws-{{ saml2aws_version }}
    state: directory
  tags: saml2aws
- name: Unarchive saml2aws {{ saml2aws_version }}
  unarchive:
    src: /tmp/saml2aws-{{ saml2aws_version }}.tar.gz
    dest: /opt/saml2aws-{{ saml2aws_version }}
    remote_src: yes
  when: not saml2aws_directory.stat.exists
  tags: saml2aws
- name: Symlink default saml2aws version to saml2aws {{ saml2aws_version }}
  file:
    src: saml2aws-{{ saml2aws_version }}
    dest: /opt/saml2aws
    state: link
  tags: saml2aws
- name: Symlink saml2aws binary
  file:
    src: "/opt/saml2aws/saml2aws"
    dest: "/usr/local/bin/saml2aws"
    state: link
  tags: saml2aws
- name: Set default aws profile for saml2aws
  lineinfile:
    path: ~/.profile
    regexp: '^export {{ item }}='
    line: export {{ item }}=saml
  with_items:
    - AWS_DEFAULT_PROFILE
    - AWS_PROFILE
  become: no
  tags: saml2aws
- name: Check if terraform {{ terraform_version }} already installed
  stat:
    path: /opt/terraform-{{ terraform_version }}/terraform
  register: terraform_directory
  tags: terraform
- name: Download terraform {{ terraform_version }}
  get_url:
    url: https://releases.hashicorp.com/terraform/{{ terraform_version }}/terraform_{{ terraform_version }}_linux_amd64.zip
    checksum: sha256:{{ terraform_sha256 }}
    dest: /tmp/terraform-{{ terraform_version }}.zip
    mode: "755"
  when: not terraform_directory.stat.exists
  tags: terraform
- name: Create terraform {{ terraform_version }} directory
  file:
    path: /opt/terraform-{{ terraform_version }}
    state: directory
  tags: terraform
- name: Unarchive terraform {{ terraform_version }}
  unarchive:
    src: /tmp/terraform-{{ terraform_version }}.zip
    dest: /opt/terraform-{{ terraform_version }}
    remote_src: yes
  when: not terraform_directory.stat.exists
  tags: terraform
- name: Symlink default terraform version to terraform {{ terraform_version }}
  file:
    src: terraform-{{ terraform_version }}
    dest: /opt/terraform
    state: link
  tags: terraform
- name: Symlink terraform binary
  file:
    src: /opt/terraform/terraform
    dest: /usr/local/bin/terraform
    state: link
  tags: terraform,no_github
- name: Symlink terraform binary as terraform12
  file:
    src: /opt/terraform-{{ terraform_version }}/terraform
    dest: /usr/local/bin/terraform12
    state: link
  tags: terraform,no_github
- name: Determine whether python 3.6 for aws-sam-cli required specifically
  set_fact:
    py_version: "{{ '3.6' if ( ansible_distribution == 'Debian' and ansible_distribution_release == 'stretch'
     or ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'xenial'
     or ansible_distribution == 'Linux Mint' and ansible_distribution_major_version == '18' ) else '3' }}"
  tags: aws_sam_cli
- name: Install aws-sam-cli
  include_role:
    name: baztian.pip_venv
  vars:
      pkg: aws-sam-cli
      version: "{{ aws_sam_cli_version }}"
      py_version: 3.6
      bin: sam
  tags: aws_sam_cli
